.cont_box_name {
  text-shadow: 2px 2px 2px gainsboro;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
